*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --hover-color: #fff;
    --fundo1-color: #FFFFFF;
    --fundo2-color: #F5F5F5;
    --text-color: #000;
    --textesp-color: #b68362;
    --other-color: #D3B8AE;
    --detalhes-color: #B0A896;
    --ann-color: #c7c6d3;

    --h1-font: 6rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body{
    background: var(--fundo1-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px 14%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease;
}
.logo img{
    max-width: 70px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: var(--other-color);
    border-radius: 100%;
}
.menuLista a{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 32px;
    transition: all .6s ease;
}
.menuLista a:hover{
    color: var(--hover-color);
    text-shadow: 3px 3px 20px var(--textesp-color), -2px 1px 30px var(--other-color);
}

#menu-icon{
    z-index: 10001;
    font-size: 40px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}

section{
    padding: 110px 14% 90px;
}
.hero{
    height: 100vh;
    width: 100%;
    background: url(../imagens/comercial/recepcaoescr\ \(2\).png);
    background-size: cover;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text{
    padding-top: 30px;
}
.h-line{
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    display: inline-block;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    border-radius: 1.7rem;
    transition: all .6s ease;
}
.h-line:hover{
    color: var(--hover-color);
}
.hero-text h1{
    margin: 22px 0;
    font-size: var(--h1-font);
}
.hero-text h1 span{
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--textesp-color) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
}
.social-icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: var(--other-color);
    backdrop-filter: brightness(88%);
    border: 1px solid var(--other-color);
    border-radius: 1.7rem;
    font-size: 18px;
    margin-right: 12px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .6s ease;
}
.social-icon a:hover{
    transform: scale(1.10);
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}
.h-btn{
    display: flex;
    align-items: center;
    
}
.btn1{
    display: inline-block;
    padding: 18px 35px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid var(--other-color);
    color: var(--other-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 17px;
    margin-right: 20px;
    transition: all.7s ease;
}
.btn1:hover{
    letter-spacing: 2px;

}

@media(max-width: 1600px){
    header{
        padding:  15px 6%;
    }
    section{
        padding: 0 6%;
    }
}
@media(max-width: 1170px){
    header{
        padding:  15px 6%;
    }
    section{
        padding: 0 6%;
    }
    :root{
        --h1-font: 4.2rem;
        --p-font: 1rem;
    }
    .menuLista a{
        margin: 0 20px;
    }
    .logo img{
        max-width: 60px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .menu-btn{
       padding: 10px 20px;
       font-size: 15px;
    }
    .social-icon a{
        width: 40px;
        height: 40px;
    }
    .btn1{
        padding: 11px 23px;
    }
}

@media(max-width: 950px){
    #menu-icon{
        display: block;
    }
    .menuLista{
        position: absolute;
        width: 100%;
        min-height: 100vh;
        padding: 100px 55px;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(35px);
        -webkit-backdrop-filter: blur(35px); /* Compatibilidade com navegadores baseados em WebKit */
        transition: all .6s ease-in-out;
    }
    .menuLista a{
        display: block;
        padding: 10px;
        margin: 0px 0px 30px 0px;
        color: var(--text-color);
        font-size: 2rem;
    }
    .menuLista.open{
        right: 0;
    }
    .logo img{
        max-width: 80px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: none;
    }
}

@media(max-height: 540px){
    .social-icon, .h-btn{
     display: none;
 }
}

header.sticky{
    background: var(--other-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 16%;
}

/* about -------------------------------*/
.about1{
    background: var(--fundo2-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}
.about-img img{
    width: 100%;
    height: 530px;
    object-fit: cover;
    border: 7px solid var(--other-color);
}
.about-text h3{
    margin-top: 20px;
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.about-text p{
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
@media(max-width: 800px){
.about1{
    display: grid;
    grid-template-columns: 1fr;
 }
.about-img img{
        width: 100%;
        height: 300px;
 }
}

/* servicos ------------------------------------*/

.services{
    background: var(--fundo2-color);
}
.center-text{
    text-align: center;
    margin-top: 20px;
}
.center-text h2{
    color: var(--other-color);
    font-size: var(--h2-font);
    margin-bottom: 20px;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4.2rem;
}
.box{
    width: 100%;
    height: 100%;
    padding: 40px 40px 46px;
    background: var(--other-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow:  0 0 5px var(--textesp-color);
    transition: all .50s ease;
    cursor: pointer;
    margin-bottom: 50px;
}
.box img{
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}
.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 20px;
}
.box a{
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-radius: 2px solid #5d6c83;
    transition: all .50s ease;
}
.box i{
    vertical-align: middle;
    font-size: 25px;
    color: #000;
    margin-left: 5px;
}
.box a:hover{
    border-bottom: 2px solid var(--main-color);
}
.box:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}
.imagens{
    width: 50px;
    height: auto;
    display: flex;
    align-items: center;
}

/* projetos ------------------------------------*/

.portfolio{
    background: var(--fundo1-color);
    margin-bottom: 50px;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4.3rem;
}
.row img{
    height: 200px;
    width: 200px;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.row{
    background: var(--other-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--textesp-color);
    padding: 20px;
    transition: all .50s ease;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.row h5{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: var(--bg-color);
}
.row h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1;
}
.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px)  scale(1.03);
    cursor: pointer;
}
@media(max-width: 570px){
    .portfolio-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
     }
    .portfolio-content img{
            width: 100%;
            height: 300px;
     }
    }

/* contato ------------------------------------*/
.contact{
    background: var(--fundo2-color);
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact-form form{
    position: relative;
    width: 600px;
}
form input, form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--textesp-color);
    background: #5d6c83;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
}
form input::placeholder, form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}
form .send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--other-color);
    color: var(--fundo1-color);
    border: 2px solid var(--other-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
form .send-btn:hover{
    background: transparent;
    color: var(--text-color);
    box-shadow: 0 0 20px var(--other-color);
    cursor: pointer;
}

/* rodape ------------------------------------*/
.footer{
    padding: 8px;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.copyright p{
    font-size: 10px;
    font-weight: 400;
    color: var(--other-color);
}
.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 45px;
    height: 15px;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 15px;
}

/* Modal styles */
.slider-content {
    display: none;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.slider {
    position: relative;
}

.slides {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slide-image, .slide-video {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    display: none;
}

.slide-image.active, .slide-video.active {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

